
.vs/Nazo/FileContentIndex/2e21b3dc-ea68-43a0-8772-05fec202bed9.vsidx
.vs/Nazo/FileContentIndex/af796034-4e2b-4db4-8f58-6193a47c852b.vsidx
.vs/Nazo/v17/.suo
.vs/Nazo/v17/Browse.VC.db
.vs/Nazo/v17/Browse.VC.db-shm
.vs/Nazo/v17/Browse.VC.db-wal
.vs/Nazo/v17/Browse.VC.opendb
.vs/Nazo/v17/DocumentLayout.json
.vs/Nazo/v17/ipch/AutoPCH/100b5576056c3e65/NAZO.ipch
.vs/Nazo/v17/ipch/AutoPCH/bf668fe4246be947/NAZO.ipch
Nazo/x64/Debug/Nazo.Build.CppClean.log
Nazo/x64/Debug/Nazo.exe.recipe
Nazo/x64/Debug/Nazo.log
Nazo/x64/Debug/Nazo.tlog/CL.command.1.tlog
Nazo/x64/Debug/Nazo.tlog/Nazo.lastbuildstate
Nazo/x64/Debug/Nazo.tlog/unsuccessfulbuild
Nazo/x64/Debug/Nazo.vcxproj.FileListAbsolute.txt
Nazo/x64/Debug/vc143.idb
Nazo/x64/Debug/vc143.pdb
Nazo/x64/Release/Nazo.exe.recipe
Nazo/x64/Release/Nazo.iobj
Nazo/x64/Release/Nazo.ipdb
Nazo/x64/Release/Nazo.log
Nazo/x64/Release/Nazo.obj
Nazo/x64/Release/Nazo.tlog/CL.command.1.tlog
Nazo/x64/Release/Nazo.tlog/Cl.items.tlog
Nazo/x64/Release/Nazo.tlog/CL.read.1.tlog
Nazo/x64/Release/Nazo.tlog/CL.write.1.tlog
Nazo/x64/Release/Nazo.tlog/link.command.1.tlog
Nazo/x64/Release/Nazo.tlog/link.read.1.tlog
Nazo/x64/Release/Nazo.tlog/link.secondary.1.tlog
Nazo/x64/Release/Nazo.tlog/link.write.1.tlog
Nazo/x64/Release/Nazo.tlog/Nazo.lastbuildstate
Nazo/x64/Release/vc143.pdb
x64/Release/Nazo.exe
x64/Release/Nazo.pdb
.vs/Nazo/FileContentIndex/375742d2-d731-42c5-a623-083a9a489e33.vsidx
